<form [formGroup]="matchForm">
    <div class="row">
        <!-- player 1 -->
        <!--<mat-form-field>-->
            <!--<input type="text" placeholder="选手1" matInput [matAutocomplete]="autoPlayer1" formControlName="player1">-->
            <!--<mat-autocomplete #autoPlayer1="matAutocomplete" [displayWith]="showPlayerName">-->
                <!--<mat-option *ngFor="let player of allPlayers" [value]="player">-->
                    <!--{{player.name}}-->
                <!--</mat-option>-->
            <!--</mat-autocomplete>-->
        <!--</mat-form-field>-->

        <mat-form-field>
            <mat-select placeholder="选手1" formControlName="player1" (selectionChange)="onPlayer1Selected()">
                <mat-option *ngFor="let player of allPlayers" [value]="player">
                    {{player.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- player 2 -->
        <mat-form-field>
            <mat-select placeholder="选手2" formControlName="player2">
                <mat-option *ngFor="let player of playersToFight" [value]="player">
                    {{player.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="row">
        <!-- score 1 -->
        <mat-form-field>
            <input matInput placeholder="比分1" formControlName="score1">
        </mat-form-field>
        :
        <!-- score 2 -->
        <mat-form-field>
            <input matInput placeholder="比分2" formControlName="score2">
        </mat-form-field>
    </div>

    <!-- subScore 1 -->
    <div class="row">
        <span>第一局</span>
        <mat-form-field>
            <input matInput formControlName="subScore11">
        </mat-form-field>
        :
        <mat-form-field>
            <input matInput formControlName="subScore21">
        </mat-form-field>
    </div>

    <!-- subScore 2 -->
    <div class="row">
        <span>第二局</span>
        <mat-form-field>
            <input matInput formControlName="subScore12">
        </mat-form-field>
        :
        <mat-form-field>
            <input matInput formControlName="subScore22">
        </mat-form-field>
    </div>

    <!-- subScore 3 -->
    <div class="row">
        <span>第三局</span>
        <mat-form-field>
            <input matInput formControlName="subScore13">
        </mat-form-field>
        :
        <mat-form-field>
            <input matInput formControlName="subScore23">
        </mat-form-field>
    </div>

    <!-- subScore 4 -->
    <div class="row">
        <span>第四局</span>
        <mat-form-field>
            <input matInput formControlName="subScore14">
        </mat-form-field>
        :
        <mat-form-field>
            <input matInput formControlName="subScore24">
        </mat-form-field>
    </div>

    <!-- subScore 5 -->
    <div class="row">
        <span>第五局</span>
        <mat-form-field>
            <input matInput formControlName="subScore15">
        </mat-form-field>
        :
        <mat-form-field>
            <input matInput formControlName="subScore25">
        </mat-form-field>
    </div>
</form>

<button mat-raised-button color="primary" (click)="save()">添加</button>
